.password{
  margin-top: 1%;
 margin-left: 45%;
}
.name{
  margin-top: 10%;
  margin-left: 45%;
}
.login{
  margin-top: 1%;
  margin-left: 48%;
}

body{
  background-color: cornflowerblue;
}
.day{
  background-color:lightslategrey;
  height:15%;
  width: 18%;
  border-color: blue;
  /* margin-top: 50px; */
  /* margin-bottom: 50px;

  margin-left: 100px;
  grid-area: auto; */
}
.theEvents
{

  background-color:lightslategrey ;
  height: 80%;
  width:15.75%; ;
}

.day{
  background-color: blueviolet;
}
h1{
  background-color: blue;
}
.oneEvent{
  border-color: blue;
}
span{
  background-color: azure;
  border-radius: 3px;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
MenuItem{
  background-color: azure;
}
.ee{
  
}
.day{
  background-color:darkgrey;
  border-color: black;
  border-style: double;
  float: left;
 
}
.aa{
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}